<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuth0Practice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if flash[:notice] %>
    <div class="notice" style="text-align: center; color: #EB5424; margin-top: 40px; font-size: 1.8rem;">
      <%= flash[:notice]%>
    </div>
  <% end %>
  </body>
</html>
